<!--Posts go here
<div>
    <table class="table table-striped">
        <tr *ngFor="let post of posts">
            <td>{{post.id }}</td>
            <td> {{ post.body }}</td> 
            <td>{{post.name}}</td>
            <td>{{post.email}}</td>
        </tr>
    </table>
</div>-->

<div>
    <div *ngFor="let post of entries">
        <h2>{{ post.title }}</h2>
        <div [innerHtml]="post.description">                        
        </div>
        <span *ngFor="let cat of post.category | derp" class="btn btn-info">{{cat}}</span>            
    </div>
    
</div>
