

<!--feedtype:<input type="text" [(ngModel)]="feedType">-->
Pick your feed sources:
<div class="checkbox-inline" *ngFor="let feed of AllFeeds; let i=index">
    
    <label>
    <input #cv id="feed{{i}}" type="checkbox" (change)="feedSelected(feed, cv.checked)"
          value="{{feed.feedType}}" name="chk{{i}}" class="feedSwitch" [(ngModel)]="feed.isEnabled" />{{feed.name}}
    </label>
</div>
<h2 *ngIf="FeedNames"><small>Showing news from {{FeedNames}}</small></h2>
<h3 *ngIf="FeedNames"><small>Last updated at:  {{LastUpdated| date:"h:mma:ss"}}</small></h3>

<div class="ui items">
    <template ngFor let-post [ngForOf]="entries">
        <div class="item">
            <div class="image">
                <img src="{{post.imageUrl}}" class="img-responsive" />
            </div>
            <div class="content">
                <a class="header" *ngIf="post.link" href="{{post.link}}" target="blank">{{ post.title }}</a>        
                <div [innerHtml]="post.description" class="description">                        
                </div>     
                <div class="extra">
                        <!--<span *ngIf="post.categories" *ngFor="let cat of post.categories; let i=index" class="btn btn-info category">{{i}} {{cat}}</span>            -->
                        <!--<span class="btn btn-info category">{{post.feedType}}</span>                    -->
                        <div class="ui label" *ngIf="post.categories" *ngFor="let cat of post.categories; let i=index"><span *ngIf="cat">{{cat}}</span></div>
                </div>
            </div>

        </div>
    </template>
</div>